.page{
    :global{
        .ant-list-item{
            border-width: .5px;
        }
        .ant-switch{
            width:60px;
            height:32px;
    
            .ant-switch-handle{
                width: 28px;
                height: 28px;
                border-radius: 28px;
                overflow: hidden;
            }
            &.ant-switch-checked{
                .ant-switch-handle{
                    inset-inline-start: calc(100% - 30px);
                }
            }
        }
        .ant-form{
            .ant-form-item{
                width:100%;
                margin-bottom: inherit;
                .ant-col{
                    flex: inherit!important;
                }
                .ant-form-item-control{
                    flex:auto!important;
                }
            }
        }
    }
    .notice{
        color: #ed6a0c
    }
    .body{
        max-width: 640px;
        margin: 0 auto;
        padding: 40px 32px;
        .switch{
            margin: 0 auto 32px;
        }
        .label{
            width: 60px;
            text-align:right;
        }
        .input{
            border-width:0;
            width:100%;
            outline: none;
            box-shadow: none;
        }
        .file{
            height: 150px;
            text-align: center;
            font-size: 36px;
            color:#efefef;
        }
        .file-text{
            border:0;
            box-shadow: none;
            min-height:150px;
            resize:none;
            &.res {
                padding:16px;
            }
        }
    }
    .footer{
        max-width: 640px;
        margin: 0 auto;
        .btn-group{
            text-align: center;
            display: flex;
            >div{
                width: 50%;
                .btn{
                    width:130px;
                    height:40px;
                    border-radius: 3px;
                    border-width:.5px;
                }
            }
        }
        .icp{
            font-size: 10px;
            text-align: center;
            line-height: 30px;
            padding: 80px 30px 30px;
            a{
                color: #1989fa;
                text-decoration: none;
            }
        }
    }
}